@charset "utf -8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Author: Fardowsa Sharif
   Date:   12/9/2024
   
   Filename: finalExam.css

*/
/* Body styling */
body {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font: 16px;
    width: 85%;
    margin: auto;
    background-color: rgb(50, 117, 139);
}
body > section {
    position: relative;
    display: grid;
    flex-direction: column;
    float: right;
    width: 75%;
}
body > nav {
    position: absolute;
    display: grid;
    flex-direction: row;
    float: left;
    width: 25%;
}
/* Header Styles*/
header {
    background-color: rgb(213, 243, 157); 
    font-family: Arial, sans-serif;
    color: rgb(11, 16, 1);
}
header h1 {
    margin: 35px 0 0 0;
    font-size: 36pt;
    padding: 15px 0 0 0;
    color:  rgb(11, 16, 1);
}
div > h2 {
   background-color: yellowgreen;
   text-align: center;
   color: black;
}
header h3 {
    font-size: 24pt;
    margin: 0px;
    padding: 0px 0 0 0; 
    color: rgb(11, 16, 1);
}
h1 {
   font-family: Arial;
   font-size: 22pt;
   text-align: left;
   letter-spacing: 2px;
   margin: 0px;
   padding: 15px 0 0 15px;

}
h2 {
    font-family:Arial; 
    font-size: 16px;
    text-align: left;
    color: rgb(34, 34, 34);
}
header img {
    position: absolute;
    top: 55px;
    right: 142px;
}
    /* Navigation Styles */
nav {
    background-color: rgb(213, 243, 157);
    text-align: center;
    width: 27%;
    margin: 0;
    height: 2118px;
    color: rgb(0, 0, 0); 
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    padding: 10px; 
}
a:hover {
    color: rgb(48, 100, 160);
}
/* Table Styles*/
table {
    margin-left: 30px;
    width: 90%;
    margin-left: 30px;
}
table th, td { 
    padding: 5px 15px 2px 5px; 
}
table th {

    background-color: rgb(173, 216, 230);
    color: rgb(2, 2, 20);
}
table td {
    padding-right: 15px;
    padding-bottom: 2px;

}
table 
/* section Styles */
section {
    background-color: rgb(221, 167, 167);
    width: 75%;
    float: right;
    height: 1980px;
    padding: 15px;
    margin: auto;
    text-decoration: none;
}
section h2 { 
    font-size: 22pt; 
    color:rgb(0, 0, 139); 
    margin: 0;
    padding: 15px 0; 
} section p { 
    margin: 15px 0; 
    padding: 0 15px; 
}
section > div {
    background-color: rgb(245, 245, 220);
}
/* Footer Styling */
footer {
    text-align: center;
    background-color:rgb(245, 245, 27);
    color: rgb(34, 34, 34);
}